<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SauceDemo Test Suite" parallel="methods" thread-count="1">
    <listeners>
        <listener class-name="com.automation.listeners.SuiteThreadListener"></listener>
    </listeners>
    <test name="SauceDemo E2E Tests">
        <classes>
            <class name="com.automation.runners.TestRunner"/>
        </classes>
    </test>
</suite>